.product-container {
    display: block;
    width: 100%;
}

.curtain-march {
    display: block;
    height: 600px;
}

.curtain-product {
    display: block;
    margin: 10px;
    width: 30%;
    background: white;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* 图片填充整个容器并保持原始比例 */
    }
}

@media (max-width:800px) {
    .curtain-march {
        display: block;
        height: auto;
    }

    .curtain-product {
        margin: 10px;
        width: 100%;
        background: white;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 图片填充整个容器并保持原始比例 */
        }
    }
}
